<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <style>
    #app{
    background-color: grey;
    height: 600px;
    padding-top: 100px;
}

.interest{
    margin: 0 auto;
background-color:whitesmoke;
height: 300px;
width: 40%;
border: 2px solid whitesmoke;
border-radius: 30px;
}
.button{
  display: inline-block;
  width: 100px;
  padding-bottom: 10px; 
  padding-left: 10px; 
}
#button{
    /* margin: 0 auto;
    display: inline block; */
    text-align: center;
}
    
    </style>
</head>
<body>
    <div id="app">
        <div class="interest">
            <h2 style="text-align: center;padding-top: 20px;">SIMPLE INTEREST CALCULATOR</h2>
            <label class="button">Principal:</label>
            <input type="number" v-model="principal"><br>
            <label class="button" >Rate:</label>
            <input type="number" v-model="rate"><br>
            <label class="button">Time:</label>
            <input type="number" v-model="time"><br>
            <div id ="button">The Simple Interest is $ {{result()}}</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    new Vue ({
  el: '#app',
  data:{
    principal: null,
    rate: null,
    time: null,
  },
  methods:{
    result: function(){
      let simple= (this.principal*this.rate*this.time)/100;
      return simple;
    }
  }
})
    
    
    
    
    </script>
</body>
</html>